{
	"rookieleague": [
		{
			"path": "dashes/marvin/maps/rookieleague/easy20.txt",
			"name": "easy20",
			"timeout": 1
		},
		{
			"path": "dashes/marvin/maps/rookieleague/easy100.txt",
			"name": "easy30",
			"timeout": 2
		},
		{
			"path": "dashes/marvin/maps/rookieleague/easy2500.txt",
			"name": "easy2500",
			"timeout": 3
		}
	],
	"openleague": [
		{
			"path": "dashes/marvin/maps/openleague/easy20.txt",
			"name": "easy20",
			"timeout": 1
		},
		{
			"path": "dashes/marvin/maps/openleague/easy100.txt",
			"name": "easy30",
			"timeout": 2
		},
		{
			"path": "dashes/marvin/maps/openleague/easy2500.txt",
			"name": "easy2500",
			"timeout": 3
		}
	]
}
