{
    "teams": [
        {
            "name": "The-Avengers",
            "members": ["IronMan", "Thor777"],
			"league": "open"
        },
        {
            "name": "Pirates-of-the-Caribbean",
            "members": ["jack-sparrow", "wturner"],
			"league": "open"
        },
        {
            "name": "The-Justice-League",
            "members": ["BatmanIsHere", "SuPeRmAn"],
			"league": "rookie"
        }
    ]
}
