{
    "teams": [
		{
			"name": "The-Avengers0",
			"members": ["IronMan"],
			"league": "open"
		},
		{
			"name": "The-Avengers1",
            "members": ["IronMan"],
			"league": "open"
		},
		{
			"name": "The-Avengers2",
			"members": ["IronMan"],
			"league": "open"
		},
		{
			"name": "The-Avengers3",
			"members": ["IronMan"],
			"league": "rookie"
		},
		{
			"name": "The-Avengers4",
			"members": ["IronMan"],
			"league": "rookie"
		},
		{
			"name": "The-Avengers5",
			"members": ["IronMan"],
			"league": "rookie"
		}
    ]
}
